.virkopedia-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  p {
    margin-bottom: 1.25rem;
    line-height: 2rem;
  }
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 content;
  min-width: 200px;

  @media screen and (max-width: 767px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .article-btn {
    font-family: inherit;
    cursor: pointer;
    text-transform: capitalize;
    border: 0;
    padding: 0.5rem;
    font-size: 1.25rem;

    &:hover {
      color: rgb(101, 167, 189);
    }
    text-decoration: underline;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  .active-btn {
    color: rgb(101, 167, 189);
  }
}
